<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
  	   <package name="springmvc.beans"/>
 	</typeAliases>
    <mappers>  
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/KeywordMapper.xml" />  
        <mapper resource="mapper/Trade_dataMapper.xml" />  
    </mappers>
   
</configuration> 